* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9440C9
,#6a11cb  );
  color: white;
  padding-bottom: 60px
}

.title{
  font-weight: 900;
  font-size: 2em;
  line-height: 1em;

}

.container{
  width: 80%;
  margin: auto;
}

button {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}
#status {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.lamp{
  font-size: 30vh;
}

footer{
  margin-top: 100px;
  padding: 5px;
  font-size: .9em;
}
